In [1]:
import pandas as pd
import FinanceDataReader as fdr

# 주가 가져오기

In [7]:
df = fdr.DataReader('BTC/KRW','2015')

In [9]:
df.tail()

               Close      Open      High       Low  Volume  Change
Date
2020-07-12  11022000  10968000  11022000  10946000   520.0  0.0049
2020-07-13  11000000  11022000  11022000  11000000   970.0 -0.0020
2020-07-14  11006000  11000000  11006000  10970000   580.0  0.0005
2020-07-15  10975000  11006000  11006000  10973000   470.0 -0.0028
2020-07-16  10967000  10975000  10975000  10967000  1010.0 -0.0007

# macd 생성

In [5]:
ma12 = df['Close'].rolling(window=12).mean()
ma26 = df['Close'].rolling(window=26).mean()
macd = ma12 - ma26
macd_signal = macd.rolling(window=9).mean()
macd_oscillator = macd - macd_signal