In [47]:
# pip install tinydb

In [37]:
from tinydb import TinyDB, Query

In [39]:
# creaete DB file
db = TinyDB('db.json')

In [40]:
# insert
db.insert({'type': 'apple', 'count': 7})
db.insert({'type': 'peach', 'count': 3})

2

In [41]:
# select all
db.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

In [42]:
# iterator, data type
for item in db:
    print(type(item))
datas = [dict(item) for item in db]
type(datas[0])

<class 'tinydb.table.Document'>
<class 'tinydb.table.Document'>

dict

In [43]:
# search
Fruit = Query()
search = db.search(Fruit.type == 'peach')
type(search[0]['count'])

int

In [44]:
# update
db.update({'count': 10}, Fruit.type == 'apple')
db.all()

[{'type': 'apple', 'count': 10}, {'type': 'peach', 'count': 3}]

In [45]:
# remove
db.remove(Fruit.count < 5)
db.all()

[{'type': 'apple', 'count': 10}]

In [46]:
# remove all
db.truncate()
db.all()

[]

In [52]:
# create & drop table
db.table('fruits')
db.drop_table('fruits')